.cardContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    flex-wrap: wrap;
    row-gap: 30px;
}
.cardContainer::-webkit-scrollbar{
    width: 0px;
}

.customCards{
    width:18rem;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}
.customCards:hover{
    transform: scale(1.04,1.04);
    cursor: pointer;
    
}
